body {
  font-size: 'Cinzel';
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url('Images/backgroung full screen.png'); 
  overflow: hidden;
}

.game-intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

#game-board {
display: flex;
justify-content: center;
align-items: center;  
}

#canvas {
  position: absolute;
  align-items: center;
  font-family: Cinzel;
  background-image: url('Images/backgroung full screen.png');
  width: 1300px;
  height: 900px;
  margin-top: 70px;
  border: 30px ridge rgb(11, 11, 63);
} 
 
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@font-face {
  font-family: Galaxia;
  src: url('./font/Galaxia.otf');
 
}

#start {
    font-family: 'Galaxia';
    border-color: black;
    border-width: medium;
    color: black;
    font-size: 20px;
    border-radius: 0.5em;
    width: 22em;
    height: 5em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    overflow: hidden;
    transition: 0.5s;
    margin: 1em;
    position: absolute;
    top: 10%;
}

 #start:hover {
    transform: scale(1.5);
    background-color:transparent;
    color: white;
    border-color: white;
 }

.rocket-start-screen {
 padding-top: 40px;
 margin-top: 40px;
 transform: rotate(45deg);
 width: 480px;  
 height: auto;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 35px); }
  100%   { transform: translate(0, -0px); }   
}

.hidden {
  display: none;
} 
